@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 5rem;
}

body {
    background-color: #09090b;
    color: #e4e4e7;
}

@media (min-width: 768px) {
    html {
        scroll-padding-top: 6.5rem;
    }
}

/* Use is about page on RAG card */
@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 rgba(6, 182, 212, 0.4);
        /* Secondary color at 40% opacity */
        border-color: rgba(6, 182, 212, 0.5);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(6, 182, 212, 0);
        border-color: rgba(6, 182, 212, 0.8);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(6, 182, 212, 0);
        border-color: rgba(6, 182, 212, 0.5);
    }
}

/* globals.css - Add this keyframe block */
@keyframes pulse-border-small {
        0% {
        box-shadow: 0 0 0 0 rgba(6, 212, 116, 0.4);
        border-color: rgba(181, 212, 6, 0.5);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(212, 140, 6, 0);
        border-color: rgba(208, 212, 6, 0.8);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(6, 182, 212, 0);
        border-color: rgba(51, 6, 212, 0.5);
    }
}

/* for all */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}


